﻿@model IEnumerable<Tweetter.Domain.DataReadModel.TweetDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ActionLink("Post new Tweet", "Create", "Tweetter")</h2>

@if (Model.Count() != 0)
{ 
    foreach (var tweet in Model)
    {
        <table>
            <tr>
                <td>
                    @tweet.Body;
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = tweet.Id })
                </td>
                <td>
                    <small>Current version: @tweet.Version</small>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @tweet.LastDateChanged
                </td>
            </tr>
        </table>
        <br />
        <br />
    }
}
else
{ 
    <h2>There are no tweets.</h2>
}